/* * ScrollBar */
.no-scrollbar {
  overflow: hidden;
}

/* Optional: If you want to hide scrollbars specifically on different browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar {
  /* browsers (Chrome, Safari) */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f0f0f0; /* Scrollbar thumb and track color for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* * END ScrollBar */
